{% extends 'base.html' %}

{% block title %}Happy Lawns Customers {% endblock %}

{% block content %}

<div class="container">
<ul>
    <div class="row">
        <div class="col-4">
            
        </div>
        <div class="col-5">
            <img class="mb-5" width="150" src="{{ url_for('static', filename='images/lawnmow.png') }}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            
        </div>
        <div class="col-6">
            <h2>Happy Lawns Customer List</h2>
        </div>
    </div>
    
    <li class="row pb-sm-3 pb-md-0">
        <div class="col-1"> </div>
        <div class="col-md-2 text-nowrap"><strong>Name</strong></div>
        <div class="col-md-2 text-nowrap"><strong>Address</strong></div>
        <div class="col-md-2 text-nowrap"><strong>Email</strong></div>
        <div class="col-md-2 text-nowrap"><strong>DoB</strong></div>
        <div class="col-md-2 text-nowrap"><strong>Phone</strong></div>
    </li>
{% for customer in customers: %}
    <li class="row pb-sm-3 pb-md-0">
        <div class="col-1"> </div>
        <div class="col-md-2 text-nowrap">{{ customer['first_name'] }} {{ customer['last_name'] }}</div>
        <div class="col-md-2 text-nowrap">{{ customer['address'] }}</div>
        <div class="col-md-2 text-nowrap">{{ customer['email'] }}</div>
        <div class="col-md-2 text-nowrap">{{ customer['dob'] }}</div>
        <div class="col-md-2 text-nowrap">{{ customer['phone'] }}</div>
    </li>
{% endfor %}
</ul>
</div>   
{% endblock %}