{% extends "base.html" %}

{% block title %}Employee Details{% endblock %}

{% block content %}
  <h1 class="display-4">Employee Details</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Employee ID:</th>
        <td>{{ employee['employee_id'] }}</td>
      </tr>
      <tr>
        <th>First Name:</th>
        <td>{{ employee['first_name'] }}</td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td>{{ employee['last_name'] }}</td>
      </tr>
      <tr>
        <th>Job Title:</th>
        <td>{{ employee['title'] }}</td>
      </tr>
      <tr>
        <th>Address:</th>
        <td>{{ employee['address'] }}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{ employee['email'] }}</td>
      </tr>
      <tr>
        <th>Date of Birth:</th>
        <td>{{ employee['date_of_birth'] }}</td>
      </tr>
      <tr>
        <th>Mobile Phone:</th>
        <td>{{ employee['phone'] }}</td>
      </tr>
      <tr>
        <th>Start Date:</th>
        <td>{{ employee['employment_start_date'] }}</td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-primary" href="{{ url_for('edit_employee', employee_id=employee['employee_id']) }}">Edit Employee</a>
  <a class="btn btn-danger" href="{{ url_for('delete_employee', employee_id=employee['employee_id']) }}">Delete Employee</a>
{% endblock %}
