{% extends "base.html" %}

{% block title %}Employees{% endblock %}

{% block content %}
    <h1 class="display-4">Happy Lawn Employees</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Address</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Phone</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td><a href="{{ url_for('employee', employee_id=employee['employee_id']) }}">{{ employee.name }}</a></td>
                    <td>{{ employee.title }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.date_of_birth }}</td>
                    <td>{{ employee.mobile_phone }}</td>
                    <td>{{ employee.employment_start_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
