{% extends "base.html" %}

{% block title %}Employee Information{% endblock %}

{% block content %}
  <h1 class="display-4">Employee Infomrmation</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Name:</th>
        <td>{{ employee['name'] }}</td>
      </tr>
      <tr>
        <th>Job Title:</th>
        <td>{{ employee['title'] }}</td>
      </tr>
      <tr>
        <th>Address:</th>
        <td>{{ employee['address'] }}</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{ employee['email'] }}</td>
      </tr>
      <tr>
        <th>Date of Birth:</th>
        <td>{{ employee['date_of_birth'] }}</td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td>{{ employee['phone'] }}</td>
      </tr>
      <tr>
        <th>Start Date:</th>
        <td>{{ employee['start_date'] }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
