{% extends "base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
  <h1 class="display-4">Confirm Delete?</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Address:</th>
        <td>{{ lawn['address'] }}</td>
      </tr>
      <tr>
        <th>Size:</th>
        <td>{{ lawn['size'] }}</td>
      </tr>
      <tr>
        <th>Date Added:</th>
        <td>{{ lawn['date_added'] }}</td>
      </tr>
      <tr>
        <th>Type:</th>
        <td>{{ lawn['lawn_type'] }}</td>
      </tr>
      <tr>
        <th>Notes:</th>
        <td>{{ lawn['notes'] }}</td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-primary" href="{{ url_for('lawn', lawn_id=lawn['id']) }}">Go Back</a>
  <form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
{% endblock %}
