{% extends "base.html" %}

{% block title %}Lawns{% endblock %}

{% block content %}
    <h1 class="display-4">Happy Lawns Listing</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Address</th>
                <th>Size</th>
                <th>Date Added</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for lawn in lawns %}
            <tr>
                <td><a href="{{ url_for('lawn', lawn_id=lawn['id']) }}">{{ lawn.address }}</a></td>
                <td>{{ lawn.size }}</td>
                <td>{{ lawn.date_added }}</td>
                <td>{{ lawn.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
