{% extends 'base.html' %}

{% block title %}
    {% if lawn %}
        Edit a Lawn
    {% else %}
        Create a Lawn!
    {% endif %}
{% endblock %}

{% block content %}
{% if lawn %}
    {% set address = lawn['address'] %}
    {% set size = lawn['size'] %}
    {% set date_added = lawn['date_added'] %}
    {% set notes = lawn['notes'] %}
    {% set type = lawn['type'] %}
    <h2>Edit lawn: {{ address }}</h2>
{% else %}
    {% set address = '' %}
    {% set size = '' %}
    {% set date_added = '' %}
    {% set notes = '' %}
    {% set type = '' %}
    <h2>Create a new lawn:</h2>
{% endif %}

<form method="POST" name="event_form" class="container">
    <div class="row my-2">
        <div class="col-md-2 text-nowrap text-end">
            <label for="address">Address:</label>
        </div>
        <div class="col">
            <input type="text" id="address" name="address" value="{{address}}" size="60" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 text-end">
            <label for="size">Lawn Size:</label>
        </div>
        <div class="col">
            <input type="text" id="size" name="size" value="{{size}}" size="40" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 text-end">
            <label for="type">Property Type:</label>
        </div>
        <div class="col">
            <select name="type">
                <option {% if type=="residential" %}selected{% endif %} value="residential">
                    Residential
                </option>
                <option {% if type=="commercial" %}selected{% endif %} value="commercial">
                    Commercial
                </option>
            </select>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 text-end">
            <label for="date_added">Date Added:</label>
        </div>
        <div class="col">
            <input type="date" id="date_added" name="date_added" 
            value="{{ date_added }}"
            size="40" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2 text-end">
            <label for="notes">Notes:</label>
        </div>
        <div class="col">
            <textarea id="notes" name="notes" cols="40" rows="5"
                value="{{notes}}"
            >{{notes}}</textarea>
        </div>
    </div>
    <div class="my-2 text-center">
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-secondary" />
    </div>
</form>
{% endblock %}